node_modules
.next
out
.git
.gitignore
.env
.env.local
.env.development
.env.production
README.md
Dockerfile
.dockerignore
sanity_ecommerce/node_modules
sanity_ecommerce/dist
sanity_ecommerce/.sanity
